
* { box-sizing: border-box; margin: 0; padding: 0; }

html, body { height: 100%; }


body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  background: #fefaf2;
  color: black;
  margin: 0;

  display: flex;              
  flex-direction: column; 
  min-height: 100vh;         
}

/* Header & footer */
header {
  font-family: Merriweather Georgia;
  margin-top: 5vh;
  color: black;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#site-title {
  font-size: 7vh;
  padding: 0;
  line-height: 1;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 1vw;
}

#links img {
  width: 1.2vw;              
  height: 1.2vw;
}

  
footer {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 8vw;
  color: black;
  padding: 1rem;
  text-align: center;
  font-size: 13px;

}

main {
  flex: 1;  
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding: 1rem;
  max-width: 45vw;
  margin: 0 auto;

}

#winter_image {
  width: 100%;
  max-width: 18vw;
  height: auto;
  margin-bottom: 1.5rem;
  
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}


nav {
  margin-bottom: 2rem;
  font-size: 15px;

}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem; 
  padding: 0;
}

nav a {
  color: black;
}


section {
  font-size: 16px;
  padding: 0.5rem;
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    margin-top: 10vh;
  }

  main {
    max-width: 65vw;  
  }

  #winter_image {
    max-width: 30vw;
  }

  #links {
    gap: 2vw; 
  }

  #links img {
    width: 2vw;
    height: 2vw;
  }


}

/* Mobile */
@media (max-width: 768px) {

  header {
    margin-top: 3vh;
  }

  main {
    max-width: 90vw;
  }

  #site-title {
    font-size: 6vh;
  }

  #winter_image {
    max-width: 70vw;
  }

  #links {
    gap: 3vw; 
  }

  #links img {
    width: 4vw;
    height: 4vw;
  }

  section {
    font-size: 12px;
  }
}
